*.cmi
*.cmo 
*.cmt 
*.cmti
*.cmx
*.annot
*.automaton
*.depend
*.o
*.s
*~
_build*
*.dot
*.dvi
*.toc
*.aux
*.pdf
*.tex
!report*.tex
!report*.pdf
!benchmarks/benchmark.py
benchmarks/*.c
benchmarks/*.out
benchmarks/*.s
parser.ml
parser.mli
lexer.ml
*.dot
cfg_tmp.pdf
._d
._ncdi
.vscode/
parser.conflicts
.DS_Store
miniml
minimlc
