*.cmi
*.cmo 
*.cmt 
*.cmti
*.cmx
*.annot
*.automaton
*.depend
*.o
*.s
*~
_build*
*.dot
*.dvi
*.toc
*.aux
*.pdf
*.tex
!report*.tex
!report*.pdf
parser.ml
parser.mli
lexer.ml
._d
._ncdi
.vscode/
parser.conflicts
.DS_Store
miniml
minimlc
